<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417009970336-jorgl1n30k9hqm45uqc31m84pem81d6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417009970336-jorgl1n30k9hqm45uqc31m84pem81d6o</string>
	<key>API_KEY</key>
	<string>AIzaSyCIBpK8pvfuJdv9rh3HVAXgI69i_lqiWt4</string>
	<key>GCM_SENDER_ID</key>
	<string>417009970336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>testauth-983d4</string>
	<key>STORAGE_BUCKET</key>
	<string>testauth-983d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417009970336:ios:85b0b833ececcfc47d6dc5</string>
</dict>
</plist>